body {
  display: flex;
  justify-content: center;
}

#content {
  width: 800px;
  position: relative;
}

#content h1 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  border-radius: 10px;
  border: 5px solid salmon;
  padding: 2px;
}

.back-btn {
  border: 2px solid tomato;
  color: tomato;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;

  /* Animation */
  transition: 0.5s;
}

.back-btn:hover {
  color: #fff;
  background: tomato;
}
